/* Color Palette */
:root {
    --xanthous: #f1bb3cff;
    --syracuse-red-orange: #E65314;
    --ou-crimson: #D72828;
    --prussian-blue: #002E47;
    --jet: #EDEDED;

    --font: 'Poppins', sans-serif;
    --font-color: var(--ou-crimson);
    --background-color: var(--prussian-blue);
    --left-padding: 60px;

}

body {
    font-family: var(--font);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: var(--jet);
}

header {
    padding-left: var(--left-padding); 
    padding-right: var(--left-padding); 
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    font-family: var(--font);
}

header a {
    color: var(--red);
}

header a:hover {
    text-transform: uppercase;
}

#header-title {
    color: var(--prussian-blue);
    margin: 0px;
}

#header-subtitle {
    color: var(--jet);
    display: flex; 
}

.header-info {
    color: var(--ou-crimson);
    margin: 0px;

}

#header-location {
    color: var(--syracuse-red-orange);
    margin: 0px;
}   

#header-num-repos{
    color: var(--xanthous);
    margin-top: 5px;
}

#header-profile-link{
    color: var(--ou-crimson);
    
}

#tags-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    gap: 10px;  

}   

#tags-header {
    color: var(--yellow-green);
    font-size: 1.1em;
    padding: 1px;
    justify-content: start;
    margin: 0px;
}

.language-tags {
    grid-gap: 10px;

    justify-content: center;
}

.language-tag-button {
    background-color: var(--jet);
    color: var(--yellow);
    border: 1px solid var(--syracuse-red-orange);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

.language-tag-button:hover {
    background-color: var(--prussian-blue) !important;
    color: var(--xanthous) !important;
}

.language-tag-button[data-active="true"] {
    background-color: var(--syracuse-red-orange) ;
    color: var(--jet) ;
}

.language-tag-button[data-active="false"] {
    background-color: var(--jet) ;
    color: var(--syracuse-red-orange) ;
}

#repos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--left-padding);
    padding-right: var(--left-padding);
}

.repo {
    margin: 5px;
    padding: 10px;
    width: 220px;
    border-radius: 10px;
}

.repo .name{
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--syracuse-red-orange);
}

.repo .description{
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--red);
}

.repo .languages{
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--xanthous);
}

.repo .updated_at{
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--yellow-green);
}

.repo .create_at{
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--yellow-green);
}

.repo[data-highlight="true"]{
    color: var(--jet);
    background-color: var(--syracuse-red-orange);

}

.repo[data-highlight="false"]{
    color: var(--jet);
    background-color: var(--prussian-blue);
}

.repo[data-highlight="true"] .name{
    color: var(--prussian-blue);
}

.repo[data-highlight="true"] .readme{
    color: var(--prussian-blue);
}

.repo a:hover {
    text-transform: uppercase;
}

.readme {
    color: var(--syracuse-red-orange);
}

/* Mobile */

@media (max-width: 768px) {
    :root {
        --left-padding: 20px;
    }

    body {
        font-size: 0.9rem;
    }

    header {
        padding-left: var(--left-padding);
        padding-top: 15px;
        padding-bottom: 5px;
    }

    #tags-container {
        flex-wrap: wrap;
        padding-left: var(--left-padding);
        padding-right: var(--left-padding);
        padding-bottom: 5px;
    }

    .language-tags {
        /* flex-direction: column; */
    }

    .language-tag-button {
        margin-bottom: 5px;
    }

    #repos-container {
        padding-left: var(--left-padding);
        padding-right: 20px;
    }

    .repo {
        width: 100%;
        margin: 5px 0;
    }
}