/* Color Palette */
:root {
    --dark-blue: #072638;
    --light-blue: #A9CCE9;
    --red: #A73341;
    --yellow-green: #9DE13E;
    --yellow: #E0FF4F;
    --white: #FEFEFE;

}

body {
    font-family: monospace, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    /* background: linear-gradient(to right, var(--white), var(--red)); */
    
}

header {
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 15px;

    position: static;   
    /* background: linear-gradient(to right, var(--light-blue), var(--red)); */
    background-color: var(--light-blue);
    
    color: var(--dark-blue);
    text-align: left;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem 2.5rem ;
    align-items: center;

}

header a {
    color: var(--red);
}

header a:hover {
    text-transform: uppercase;
}

#header-title {
    /* background-color: var(--red); */
    color: var(--dark-blue);
    padding-bottom: 15px;   

}

#header-subtitle {
    color: var(--red);
}

#tags-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;  
    grid-column: 1/3;
    grid-row: 2/3;
}   

.language-tag-button {
    background-color: var(--dark-blue);
    color: var(--yellow);
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* .language-tag-button:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
} */

.language-tag-button[data-active="true"] {
    background-color: var(--yellow-green) ;
    color: var(--dark-blue) ;
}

.language-tag-button[data-active="false"] {
    background-color: var(--dark-blue) ;
    color: var(--yellow) ;
}

#repos-container, #youtube-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.repo, .video {
    background-color: var(--dark-blue);
    color: var(--yellow-green);
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.repo:hover, .video:hover {
    /* background-color: var(--yellow-green);
    color: var(--dark-blue); */
    border: 1px solid var(--yellow-green);
}

.repo[data-highlight="true"]{
    border: 1px solid var(--dark-blue);
    background-color: var(--yellow-green);
    color: var(--dark-blue);
    box-shadow: 0 0 15px var(--white);
}

.repo[data-highlight="false"]{
    color: var(--yellow-green);
    border: 1px solid var(--light-blue);
    background-color: var(--dark-blue);
    color: var(--yellow-green);
}

.repo h2, .video h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: var(--yellow);
}

.repo[data-highlight="true"] h2, .video[data-highlight="true"] h2 {
    color: var(--dark-blue);
}

.repo[data-highlight="false"] h2, .video[data-highlight="false"] h2 {
    color: var(--yellow-green);
}

.repo h3, .video h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: var(--red);

}

/* .repo[data-highlight="true"] h3, .video[data-highlight="true"] h3 {
    color: var(--dark-blue);
}

.repo[data-highlight="false"] h3, .video[data-highlight="false"] h3 {
    color: var(--yellow-green);
} */


.repo p, .video p {
    font-size: 1em;
    margin-bottom: 2px;
}

.repo a, .video a {
    color: var(--yellow);
    text-decoration: underline;
}

.repo[data-highlight="true"] a, .video[data-highlight="true"] a {
    color: var(--dark-blue);
}

.repo[data-highlight="false"] a, .video[data-highlight="false"] a {
    color: var(--yellow);
}

.repo a:hover, .video a:hover {
    text-transform: uppercase;
}

.readme-content {
    background-color: var(--white);
    color: var(--red);
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    height: 200px; /* Fixed height for the README content */
}